.btns {
    background-color: #A259FF;
    border: none;
    /* padding-left: 16px !important;
    padding-right: 16px !important; */
    padding: 5px 16px 5px 16px !important;
    border-radius: 10px;
}